.discover-city{
  text-align: center;
  color: #4a4a4a;
  background: #fff;
  @media (min-width: $screen-phone) {
    text-align: left;
    display: flex;
    align-items: center;
  }
  h2{
    font-size: 26px;
  }
  p{
    font-size: 21px;
  }
  img{
    margin: 20px 0;
  }
  .link-read-more{
    font-size: 21px;
    color: #4a4a4a;
    line-height: 30px;
    position: relative;
    padding-right: 30px;
    @media (min-width: $screen-phone) {
      float: right;
    }
    .icon-icon-chevron-dw{
      //background: red;
      position: absolute;
      top: 7px;
      right: 0px;
      //margin-bottom: -5px;
    }
  }
}
.drinks{
  .item{
    min-height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow:hidden;

    &::after{
        //filter: blur(10px);
        width: 100%;
        height: 70px;
        content: ' ';
        display: block;
        background: rgba(34,34,34,0.75);
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        position: absolute;
    }
    .caption{
      position: absolute;
      bottom: 0;
      height: 70px;
      top: auto;
      right: 0;
      left: 0;
      z-index: 100;
      h4,
      p{
        color: #fff;
      }
      p{
        margin: 0;
      }
    }
  }


}
.mask{
  &.blurry{


  }
}
.bg-gray{
  background: #e8e7e7;
}
