footer{
  background: #0d4ba0;
  color: #fff;
  padding: 10px 30px;
  .navbar{
    background-color: inherit;
    border-color: transparent;;
    border-radius: 0;
    padding:0;
    border-bottom: solid 1px #979797;
    .nav{
      font-size: 14px;
      @media (min-width: $screen-phone) {
        font-size: 12px;
        display: table;
      }
      @media (min-width: $screen-tablet) {
        font-size: 14px;
      }
      @media (min-width: $screen-desktop) {
        font-size: 20px;
      }
      li{
        @media (min-width: $screen-phone) {
          display: table-cell;
          width: auto;
        }
        a{
          color: #e8e7e7;
          padding: 20px;
          &:hover{
            background-color: transparent;
          }
        }
        &:last-child,
        &:first-child{
          a{
            text-align: center;
            padding: 20px 0;
            @media (min-width: $screen-phone) {
              text-align: left;
            }
          }
        }
        &:last-child{
          a{
          text-align: center;
          @media (min-width: $screen-phone) {
            text-align: right;
          }
          }
        }
      }
    }

  }
  .copyright{
    font-size: 14px;
    @media (min-width: $screen-desktop) {
      font-size: 18px;
    }
    div{
      padding: 0;
      &:first-child{
        text-align: center;
        @media (min-width: $screen-phone) {
          text-align: left;
        }
      }
      &:last-child{
        text-align: center;
        @media (min-width: $screen-phone) {
          text-align: right;
        }
      }
      .gee-logo{
        height: 60px;
        //background: red;
      }
    }
  }
}
