.header{
  position: relative;
  background: red;
  .header-image{
    position: absolute;
    left: -450px;
    right: auto;
    max-width: inherit;
    @media (min-width: $screen-phone) {
      left: auto;
      max-width: 100%;
    }
  }
  .title{
    color: #fff;
    text-align: center;
    margin-top: 70%;
    @media (min-width: $screen-phone) {
      margin-top:15%;
      text-align: left;
    }
    h1{
      border-bottom: 1px solid #fff;
      padding:15px 0;
    }
  }
}
