<div class="row bg-gray drinks">
  <div class="col-md-4 item" style="background-image:url('/images/example/drink-1.jpg')">
    <div class="caption mask blurry" style="backdrop-filter: blur(10px);background-color: rgba(0, 0, 0, 0.2);">
      <h4>The harrow mouth</h4>
      <p>Sophisticated European Food</p>
    </div>
  </div>
  <div class="col-md-4 item" style="background-image:url('/images/example/drink-2.jpg')">
    <div class="caption mask blurry">
      <h4>The harrow mouth</h4>
      <p>Sophisticated European Food</p>
    </div>
  </div>
  <div class="col-md-4 item" style="background-image:url('/images/example/drink-3.jpg')">
    <div class="caption mask blurry">
      <h4>The harrow mouth</h4>
      <p>Sophisticated European Food</p>
    </div>
  </div>

</div>
