.discover-city{
  text-align: center;
  color: #4a4a4a;
  background: #fff;
  @media (min-width: $screen-phone) {
    text-align: left;
    display: flex;
    align-items: center;
  }
  h2{
    font-size: 26px;
  }
  p{
    font-size: 21px;
  }
  img{
    margin: 20px 0;
  }
  .link-read-more{
    font-size: 21px;
    color: #4a4a4a;
    line-height: 30px;
    position: relative;
    padding-right: 30px;
    @media (min-width: $screen-phone) {
      float: right;
    }
    .icon-icon-chevron-dw{
      //background: red;
      position: absolute;
      top: 7px;
      right: 0px;
      //margin-bottom: -5px;
    }
  }
}
.drinks{
  .caption{
    position: absolute;
    bottom: 0;
    height: 70px;
    top: auto;
    right: 0;
    left: 0;
    h4{
      filter: none;
      color: #fff;
      filter: blur(0px);
    }
  }

}
.mask{
  &.blurry{
    &:after{
      width: 100%;
      height: 70px;
      -webkit-filter: blur(5px); /* Chrome, Safari, Opera */
      filter: blur(5px);
      background: rgba(0, 0, 0, 0.5);
      display: block;
      content: ' ';
      position: absolute;
      bottom: 0;
      top: auto;
      left: 0;
      right: 0;
    }
  }
}
.bg-gray{
  background: #e8e7e7;
}
