.infos-container {
  padding: 0;

  .flight-infos, .flight-connections, .local-weather {
    padding: 0;
    height: 60px;
  }

  .flight-infos {
    &:before {
      content: "";
      position: absolute;
      margin: 10px;
      height: 26px;
      width: 22px;
      background: url('../images/stop-watch-icon.png') no-repeat top center;
    }

    .real-time {
      margin-left: 40px;
      position: absolute;
      top: 7px;
      font-weight: bold;
      color: #1a2c80;
    }

    .time-left {
      margin-left: 40px;
      position: absolute;
      top: 25px;
      color: #1a2c80;
    }
  }
  .flight-progress {
    height: 50px;
    padding: 0;
    .departure-code, .arrival-code {
      position: absolute;
      color: #1a2c80;
      font-weight: 600;
      top: 70%;
    }
    .departure-code {
      left: 0;
    }
    .arrival-code {
      right: 0;
    }
    .flying-plane {
      content: "";
      position: absolute;
      top: 50%;
      margin: -8px 0 0 -4px;
      left: 60%;
      width: 22px;
      height: 26px;
      background: url('../images/plane-icon.png') no-repeat top center;
    }
    .progress {
      width: 100%;
      height: 3px;
      color: #1a2c80;
      top: 50%;
      position: absolute;
      .progress-bar {
        width: 60%;
      }
    }
  }
  .flight-connections {
    &:before {
      content: "";
      position: absolute;
      margin: 10px;
      height: 27px;
      width: 35px;
      background:url('../images/transfer-icon.png') no-repeat top center;
    }

    .arrivals-connections {
      margin-left: 60px;
      position: absolute;
      top: 7px;
      color: #1a2c80;
    }

    &:after{
      font-family: "Glyphicons Halflings";
      content:"\e258";
      display: inline-block;
      position: absolute;
      color: #1a2c80 ;
      right: 5%;
      top: 30%;
    }
  }
  .local-weather {
    &:before {
      content: "";
      position: absolute;
      padding: 20px;
      margin: 10px;
      height: 26px;
      width: 39px;
      background: url('../images/partly-cloudy-icon.png') no-repeat top center;
    }
    &:after{
      font-family: "Glyphicons Halflings";
      content:"\e259";
      display: inline-block;
      position: absolute;
      color: #1a2c80 ;
      right: 5%;
      top: 30%;
    }
  }
}

@media(max-width:767px){

  .infos-container {
    .flight-infos, .arrivals-connections, .flight-connections:after, .local-weather:after {
      display: none;
    }
    .flight-connections {
      float: left;
      position: absolute;
    }
    .local-weather {
      float: right;
    }
  }
}