<div class="clearfix mhl ptl">
        <h3 class="mvm mtn fgc1">Grid Size: Unknown</h3>
        <div class="glyph fs1">
            <div class="clearfix bshadow0 pbs">
                <span class="icon-icon-drink">

                </span>
                <span class="mls"> icon-icon-drink</span>
            </div>
            <fieldset class="fs0 size1of1 clearfix hidden-false">
                <input type="text" class="unit size1of2" value="e900" readonly="">
                <input type="text" class="unitRight size1of2 talign-right" value="" readonly="" maxlength="1">
            </fieldset>
            <div class="fs0 bshadow0 clearfix hidden-true">
                <span class="unit pvs fgc1">liga: </span>
                <input type="text" class="liga unitRight" value="" readonly="">
            </div>
        </div>
        <div class="glyph fs1">
            <div class="clearfix bshadow0 pbs">
                <span class="icon-icon-games">

                </span>
                <span class="mls"> icon-icon-games</span>
            </div>
            <fieldset class="fs0 size1of1 clearfix hidden-false">
                <input type="text" class="unit size1of2" value="e901" readonly="">
                <input type="text" class="unitRight size1of2 talign-right" value="" readonly="" maxlength="1">
            </fieldset>
            <div class="fs0 bshadow0 clearfix hidden-true">
                <span class="unit pvs fgc1">liga: </span>
                <input type="text" class="liga unitRight" value="" readonly="">
            </div>
        </div>
        <div class="glyph fs1">
            <div class="clearfix bshadow0 pbs">
                <span class="icon-icon-home">

                </span>
                <span class="mls"> icon-icon-home</span>
            </div>
            <fieldset class="fs0 size1of1 clearfix hidden-false">
                <input type="text" class="unit size1of2" value="e902" readonly="">
                <input type="text" class="unitRight size1of2 talign-right" value="" readonly="" maxlength="1">
            </fieldset>
            <div class="fs0 bshadow0 clearfix hidden-true">
                <span class="unit pvs fgc1">liga: </span>
                <input type="text" class="liga unitRight" value="" readonly="">
            </div>
        </div>
        <div class="glyph fs1">
            <div class="clearfix bshadow0 pbs">
                <span class="icon-icon-location">

                </span>
                <span class="mls"> icon-icon-location</span>
            </div>
            <fieldset class="fs0 size1of1 clearfix hidden-false">
                <input type="text" class="unit size1of2" value="e903" readonly="">
                <input type="text" class="unitRight size1of2 talign-right" value="" readonly="" maxlength="1">
            </fieldset>
            <div class="fs0 bshadow0 clearfix hidden-true">
                <span class="unit pvs fgc1">liga: </span>
                <input type="text" class="liga unitRight" value="" readonly="">
            </div>
        </div>
        <div class="glyph fs1">
            <div class="clearfix bshadow0 pbs">
                <span class="icon-icon-menu">

                </span>
                <span class="mls"> icon-icon-menu</span>
            </div>
            <fieldset class="fs0 size1of1 clearfix hidden-false">
                <input type="text" class="unit size1of2" value="e905" readonly="">
                <input type="text" class="unitRight size1of2 talign-right" value="" readonly="" maxlength="1">
            </fieldset>
            <div class="fs0 bshadow0 clearfix hidden-true">
                <span class="unit pvs fgc1">liga: </span>
                <input type="text" class="liga unitRight" value="" readonly="">
            </div>
        </div>
        <div class="glyph fs1">
            <div class="clearfix bshadow0 pbs">
                <span class="icon-icon-messages">

                </span>
                <span class="mls"> icon-icon-messages</span>
            </div>
            <fieldset class="fs0 size1of1 clearfix hidden-false">
                <input type="text" class="unit size1of2" value="e906" readonly="">
                <input type="text" class="unitRight size1of2 talign-right" value="" readonly="" maxlength="1">
            </fieldset>
            <div class="fs0 bshadow0 clearfix hidden-true">
                <span class="unit pvs fgc1">liga: </span>
                <input type="text" class="liga unitRight" value="" readonly="">
            </div>
        </div>
        <div class="glyph fs1">
            <div class="clearfix bshadow0 pbs">
                <span class="icon-icon-plane">

                </span>
                <span class="mls"> icon-icon-plane</span>
            </div>
            <fieldset class="fs0 size1of1 clearfix hidden-false">
                <input type="text" class="unit size1of2" value="e907" readonly="">
                <input type="text" class="unitRight size1of2 talign-right" value="" readonly="" maxlength="1">
            </fieldset>
            <div class="fs0 bshadow0 clearfix hidden-true">
                <span class="unit pvs fgc1">liga: </span>
                <input type="text" class="liga unitRight" value="" readonly="">
            </div>
        </div>
        <div class="glyph fs1">
            <div class="clearfix bshadow0 pbs">
                <span class="icon-icon-stopwatch">

                </span>
                <span class="mls"> icon-icon-stopwatch</span>
            </div>
            <fieldset class="fs0 size1of1 clearfix hidden-false">
                <input type="text" class="unit size1of2" value="e908" readonly="">
                <input type="text" class="unitRight size1of2 talign-right" value="" readonly="" maxlength="1">
            </fieldset>
            <div class="fs0 bshadow0 clearfix hidden-true">
                <span class="unit pvs fgc1">liga: </span>
                <input type="text" class="liga unitRight" value="" readonly="">
            </div>
        </div>
        <div class="glyph fs1">
            <div class="clearfix bshadow0 pbs">
                <span class="icon-icon-transfer">

                </span>
                <span class="mls"> icon-icon-transfer</span>
            </div>
            <fieldset class="fs0 size1of1 clearfix hidden-false">
                <input type="text" class="unit size1of2" value="e909" readonly="">
                <input type="text" class="unitRight size1of2 talign-right" value="" readonly="" maxlength="1">
            </fieldset>
            <div class="fs0 bshadow0 clearfix hidden-true">
                <span class="unit pvs fgc1">liga: </span>
                <input type="text" class="liga unitRight" value="" readonly="">
            </div>
        </div>
        <div class="glyph fs1">
            <div class="clearfix bshadow0 pbs">
                <span class="icon-icon-wifi">

                </span>
                <span class="mls"> icon-icon-wifi</span>
            </div>
            <fieldset class="fs0 size1of1 clearfix hidden-false">
                <input type="text" class="unit size1of2" value="e90a" readonly="">
                <input type="text" class="unitRight size1of2 talign-right" value="" readonly="" maxlength="1">
            </fieldset>
            <div class="fs0 bshadow0 clearfix hidden-true">
                <span class="unit pvs fgc1">liga: </span>
                <input type="text" class="liga unitRight" value="" readonly="">
            </div>
        </div>
        <div class="glyph fs1">
            <div class="clearfix bshadow0 pbs">
                <span class="icon-icon-chevron">

                </span>
                <span class="mls"> icon-icon-chevron</span>
            </div>
            <fieldset class="fs0 size1of1 clearfix hidden-false">
                <input type="text" class="unit size1of2" value="e90b" readonly="">
                <input type="text" class="unitRight size1of2 talign-right" value="" readonly="" maxlength="1">
            </fieldset>
            <div class="fs0 bshadow0 clearfix hidden-true">
                <span class="unit pvs fgc1">liga: </span>
                <input type="text" class="liga unitRight" value="" readonly="">
            </div>
        </div>
  </div>
