<div class="col-md-6">
  <h3>Button Primary</h3>
  <button type="button" name="button" class="btn btn-primary">Button Example</button>
  <p>
    <pre>&lt;button class="btn btn-primary" &gt;Button Example&lt;/button&gt;</pre>
  </p>
</div>

<div class="col-md-6">
  <h3>Button Default</h3>
  <button type="button" name="button" class="btn btn-default">Button Example</button>
  <p>
    <pre>&lt;button class="btn btn-default" &gt;Button Example&lt;/button&gt;</pre>
  </p>
</div>

<div class="col-md-6">
  <h3>Button Primary Large</h3>
  <button type="button" class="btn btn-primary btn-lg">Large button</button>
  <p>
    <pre>&lt;button class="btn btn-primary btn-lg" &gt;Button Example&lt;/button&gt;</pre>
  </p>
</div>

<div class="col-md-6">
  <h3>Button Default Large</h3>
  <button type="button" class="btn btn-default btn-lg">Large button</button>
  <p>
    <pre>&lt;button class="btn btn-default btn-lg" &gt;Button Example&lt;/button&gt;</pre>
  </p>
</div>

<div class="col-md-6">
  <h3>Button Primary Small</h3>
  <button type="button" class="btn btn-primary btn-sm">Small button</button>
  <p>
    <pre>&lt;button class="btn btn-primary btn-sm" &gt;Button Example&lt;/button&gt;</pre>
  </p>
</div>

<div class="col-md-6">
  <h3>Button Default Small</h3>
  <button type="button" class="btn btn-default btn-sm">Small button</button>
  <p>
    <pre>&lt;button class="btn btn-default btn-sm" &gt;Button Example&lt;/button&gt;</pre>
  </p>
</div>

<div class="col-md-6">
  <h3>Button Primary x-Small</h3>
  <button type="button" class="btn btn-primary btn-xs">Small button</button>
  <p>
    <pre>&lt;button class="btn btn-primary btn-xs" &gt;Button Example&lt;/button&gt;</pre>
  </p>
</div>

<div class="col-md-6">
  <h3>Button Default x-Small</h3>
  <button type="button" class="btn btn-default btn-xs">Small button</button>
  <p>
    <pre>&lt;button class="btn btn-default btn-xs" &gt;Button Example&lt;/button&gt;</pre>
  </p>
</div>
