/* Reset basic styles */
.navbar {
  margin-bottom: 0;
  border-radius: 0; }

.airline-brand {
  margin: 20px; }

.home.Ad > img {
  margin: 0 auto;
  padding: 15px 5px; }

/* Login */
#login-dp {
  min-width: 250px;
  margin: 10px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8); }

#login-dp .help-block {
  font-size: 12px; }

#login-dp .bottom {
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #ddd;
  clear: both;
  padding: 14px; }

#login-dp .social-buttons {
  margin: 12px 0; }

#login-dp .social-buttons a {
  width: 49%; }

#login-dp .form-group {
  margin-bottom: 10px; }

ul.login-link {
  list-style: none;
  padding: 0; }
