.navbar {
  background-color: #f2f2f2; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #0c122a; }

.vertical-line {
  content: '';
  width: 0;
  height: 35px;
  position: absolute;
  border: 1px solid #F1F1F1;
  top: 0;
  right: 0; }

.content-wrapper {
  border: 1px solid #e6e6e6;
  padding: 0; }

.mega-dropdown {
  position: static !important; }

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: #0c122a; }

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0; }

.mega-dropdown-menu > li > ul > li {
  list-style: none; }

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: white;
  padding: 3px 5px; }

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none; }

.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: white;
  padding: 5px 60px 5px 5px;
  line-height: 30px; }

.navbar-right .open .dropdown-toggle > span {
  color: white; }

/* Wifi grid - mega menu */
.wifi-block1 {
  background-color: #fcc11b;
  height: 210px; }

.wifi-block2 {
  background-color: #0c122a;
  height: 210px; }

.wifi-block3 {
  background-color: #1a2c80;
  height: 170px; }

.wifi-block4 {
  background-color: #a5baf3;
  height: 170px; }

.wifi-block5 {
  background-color: #ffffff;
  height: 170px; }

/* Ad in menu */
.menu-ad-block {
  padding: 0;
  height: 90px; }

/* Entertainment blocks */
.entertainment-block1, .entertainment-block2 {
  padding: 0; }

/* Destination blocks */
.destination-block1 {
  background-color: #a5baf3;
  height: 320px; }

.destination-block2 {
  background-color: #1a2c80;
  height: 160px; }

.destination-block3 {
  background-color: #fcc11b;
  height: 160px; }

.ico {
  margin: 0 auto;
  display: block; }

.ico-wifi {
  height: 29px;
  width: 33px;
  background: url("../images/wi-fi-icon.png") no-repeat top center; }

.ico-video {
  height: 29px;
  width: 25px;
  background: url("../images/movie-strip-icon.png") no-repeat top center; }

.ico-location {
  height: 29px;
  width: 20px;
  background: url("../images/location-icon.png") no-repeat top center; }

.ico-shopping {
  height: 29px;
  width: 25px;
  background: url("../images/shopping-icon.png") no-repeat top center; }

.ico-profile {
  height: 29px;
  width: 27px;
  background: url("../images/profile-icon.png") no-repeat top center; }

.txt-wifi, .txt-video, .txt-location, .txt-shopping, .txt-profile {
  display: block;
  padding-top: 10px;
  text-align: center; }

/* Shopping page */
.shop-container {
  max-width: 960px;
  margin: 20px auto; }
  .shop-container .shop-title {
    font-size: 20px;
    color: #1a2c80;
    margin: 15px; }
  .shop-container .choose-brand {
    height: 50px;
    padding: 0; }
    .shop-container .choose-brand p {
      vertical-align: middle;
      color: black;
      font-weight: bold; }
  .shop-container .col1-brand {
    height: 50px;
    padding: 0; }
    .shop-container .col1-brand span.brand1 {
      height: 30px;
      margin: 12px auto;
      display: block;
      background: url("../images/shop/amazon_logo.png") no-repeat top center; }
  .shop-container .col2-brand {
    height: 50px;
    padding: 0; }
    .shop-container .col2-brand span.brand2 {
      height: 30px;
      margin: 12px auto;
      display: block;
      background: url("../images/shop/amazon_logo.png") no-repeat top center; }
  .shop-container .col3-brand {
    height: 50px;
    padding: 0; }
    .shop-container .col3-brand span.brand3 {
      height: 30px;
      margin: 12px auto;
      display: block;
      background: url("../images/shop/amazon_logo.png") no-repeat top center; }
  .shop-container .main {
    margin: 20px auto; }
    .shop-container .main .img-responsive {
      margin-bottom: 15px; }
  .shop-container .brand-divider {
    text-align: center; }
    .shop-container .brand-divider > hr {
      margin: 40px auto; }
    .shop-container .brand-divider > img {
      position: relative;
      top: -50px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 40px; }

/* FREESTYLE


  .thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }

  .item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
  }

  .item.list-group-item:nth-of-type(odd):hover,
  .item.list-group-item:hover {
    background-color: #1a2c80;
  }

  .item.list-group-item .list-group-image {
    margin-right: 10px;
  }

  .item.list-group-item .thumbnail {
    margin-bottom: 10px;
  }

  .item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
  }

  .item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
  }

  .item.list-group-item:before,
  .item.list-group-item:after {
    display: table;
    content: " ";
  }

  .item.list-group-item img {
    float: left;
  }

  .item.list-group-item:after {
    clear: both;
  }

  .list-group-item-text {
    margin: 0 0 11px;
  }

  .pagination {
    margin: 15px;
  }
}

FREESTYLE */
@media (max-width: 768px) {
  #login-dp {
    background-color: inherit;
    color: #fff; }
  #login-dp .bottom {
    background-color: inherit;
    border-top: 0 none; }
  .navbar-nav .open .dropdown-menu {
    background-color: #0c122a; }
  .shop-container .choose-brand p {
    text-align: center; }
  .shop-container .vertical-line {
    display: none; } }
