<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
    <link media="all" rel="stylesheet" href="{{ path '/css/bootstrap.css' }}">
    <script type="text/javascript" src="{{ path '/js/jquery-2.2.4.min.js' }}"></script>
    <script type="text/javascript" src="{{ path '/js/bootstrap.js' }}"></script>
    <title>Preview Layout</title>
</head>
<body>
<div class="container content-wrapper">     
{{{ yield }}}
</div>
</body>
</html>
