<footer class="footer">
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav nav-justified">
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Terms of Use</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Southwest.com</a></li>
      <li><a href="#">Rapid Rewards</a></li>
    </ul>
  </nav>
  <div class="copyright clearfix">
    <div class="col-md-6">
      <p>
        Copiright © 2016 Southwest.
      </p>
    </div>
    <div class="col-md-6">
      <p>
        This Inflight Digital Experience is Elevated by <img src="{{ path '/images/svg/gee-logo-4.svg' }}" onerror="this.onerror=null; this.src='image.png'" class="gee-logo">
      </p>
    </div>
  </div>
</footer>
