

<div class="discover-city">
  <div class="col-xs-12 col-sm-8 col-lg-9">
    <h2>Discover New York</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
    </p>
    <a href="#" class="link-read-more">Read More <span class="icon-icon-chevron-dw"></span></a>
  </div>
  <div class="col-xs-12 col-sm-4 col-lg-3">
    <img src="../../images/pub/john-richmond.jpg" class="img-responsive" alt="" />
  </div>
</div>

