

<div class="row bg-gray drinks">
  <div class="col-md-4">
    <img src="../../images/example/drink-1.jpg" class"img-responsive" alt="" />
    <div class="caption mask blurry">
      <h4>The harrow mouth</h4>
      <p>Sophisticated European Food</p>
    </div>
  </div>
  <div class="col-md-4">
    <img src="../../images/example/drink-2.jpg" class"img-responsive" alt="" />
  </div>
  <div class="col-md-4">
    <img src="../../images/example/drink-3.jpg" class"img-responsive" alt="" />
    <div class="caption mask blurry">
      <h4>The harrow mouth</h4>
      <p>Sophisticated European Food</p>
    </div>
  </div>

</div>

