

<div class="header generic">
  <img src="../../images/header/jungle-book.jpg" class="header-image img-responsive">
  <div class="col-xs-12 col-sm-offset-1 col-sm-6 title movie">
    <h1>The Jungle Book</h1>
    <p>Imagine a place where everything is possible</p>
  </div>
</div>

