

<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="airline-brand">
          <a href="#" class="brand-logo">
            <img alt="South west" src="../../images/s-w-logo.png" />
          </a>
        </div>
    </div>

    <div class="collapse navbar-collapse js-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown mega-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="ico ico-wifi"></span>
                  <span class="txt-wifi">Wifi</span>
                </a>

                <ul class="dropdown-menu mega-dropdown-menu">
                    <li class="col-sm-3">
                        <ul>
                            <li class="dropdown-header">Services</li>
                            <div class="divider"></div>
                            <li><a href="#">Messaging</a></li>
                            <li><a href="#">Wifi</a></li>
                        </ul>
                    </li>
                    <li class="col-sm-9">
                        <div class="col-sm-8 wifi-block1"></div>
                        <div class="col-sm-4 wifi-block2"></div>
                        <div class="col-sm-4 wifi-block3"></div>
                        <div class="col-sm-4 wifi-block4"></div>
                        <div class="col-sm-4 wifi-block5"></div>
                        <div class="col-sm-12 menu-ad-block">
                            <div class="Ad">
                                <img class="img-responsive" src="images/menu-ad.png"/>
                            </div>
                        </div>
                    </li>

                </ul>
            </li>

            <li class="dropdown mega-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="ico ico-video"></span>
                  <span class="txt-video">Entertainment</span>
                </a>
                <ul class="dropdown-menu mega-dropdown-menu">
                  <li class="col-sm-4">
                      <ul>
                          <li class="dropdown-header">Movies</li>
                          <div class="divider"></div>
                          <li class="dropdown-header">TV</li>
                          <div class="divider"></div>
                          <li class="dropdown-header">Games</li>
                          <div class="divider"></div>
                          <li class="dropdown-header">eBooks</li>
                          <div class="divider"></div>
                          <li class="dropdown-header">Music</li>
                      </ul>
                  </li>
                  <li class="col-sm-8">
                      <div class="col-sm-12 entertainment-block1">
                          <img class="img-responsive" src="images/itunes-ad.png">
                      </div>
                      <div class="col-sm-12 entertainment-block2">
                          <img class="img-responsive" src="images/chase-ad.png">
                      </div>
                      <div class="col-sm-12 menu-ad-block">
                          <div class="Ad">
                              <img class="img-responsive" src="images/menu-ad.png"/>
                          </div>
                      </div>
                  </li>
                </ul>
            </li>

            <li class="dropdown mega-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="ico ico-location"></span>
                  <span class="txt-location">Destinations</span>
                </a>
                <ul class="dropdown-menu mega-dropdown-menu">

                  <li class="col-sm-4">
                      <ul>
                          <li class="dropdown-header">Movies</li>
                          <div class="divider"></div>
                          <li class="dropdown-header">TV</li>
                          <div class="divider"></div>
                          <li class="dropdown-header">Games</li>
                          <div class="divider"></div>
                          <li class="dropdown-header">eBooks</li>
                          <div class="divider"></div>
                          <li class="dropdown-header">Music</li>
                      </ul>
                  </li>
                  <li class="col-sm-8">
                      <div class="col-sm-9 destination-block1"></div>
                      <div class="col-sm-3 destination-block2"></div>
                      <div class="col-sm-3 destination-block3"></div>
                      <div class="col-sm-12 menu-ad-block">
                          <div class="Ad">
                              <img class="img-responsive" src="images/menu-ad.png"/>
                          </div>
                      </div>
                  </li>

                </ul>
            </li>

            <li>
              <a href="shopping.html">
                <span class="ico ico-shopping"></span>
                <span class="txt-shopping">Shopping</span>
              </a>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="ico ico-profile"></span>
                  <span class="txt-profile">Log in</span>
                </a>
                <ul id="login-dp" class="dropdown-menu">
                    <li>
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputPassword2">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                    </div>
                                </form>
                            </div>
                            <div class="bottom">
                              <ul class="login-link">
                                <li><a href="#"><b>Register</b></a></li>
                                <li><a href="#"><b>Forgotten password</b></a></li></li>
                                <li><a href="#"><b>My account</b></a></li>
                              </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div><!-- /.nav-collapse -->
</nav>

